.nested-fields
  = f.input :icloud_device_name, label: "iCloud device name"
  = f.input :icloud_username, label: "iCloud username"
  = f.input :icloud_password, label: "iCloud password"
  = f.input :lat, label: "Last Latitude", readonly: true
  = f.input :lng, label: "Last Longitude", readonly: true
  = f.input :location_updated_at, label: "Location last updated", readonly: true
  = link_to_remove_association "remove phone", f
